version: '3.9'

services:
  postgres:
    image: postgres:16
    container_name: task_manager_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: task_manager
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: task_manager_api
    restart: always
    depends_on:
      - postgres
    environment:
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/task_manager?schema=public
    ports:
      - '3001:3001'
    volumes:
      - .:/app
      - /app/node_modules

volumes:
  postgres_data:
